<!DOCTYPE html>
<html>
  <head>
    <title>Cosc630</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= link_to "Home", welcome_index_path %>
    <%= link_to "About Us", welcome_about_path %>
    <%= link_to "Ways to Help", welcome_help_path %>
    <%= link_to "Adoption", welcome_adoption_path %>
    <%= link_to "Contact", welcome_contact_path %>
    <%= yield %>
  </body>
</html>
